<.header>
  New Book author
  <:subtitle>Use this form to manage book_author records in your database.</:subtitle>
</.header>

<.book_author_form changeset={@changeset} action={~p"/book_authors"} />

<.back navigate={~p"/book_authors"}>Back to book_authors</.back>
