<.header>
  New Isbn
  <:subtitle>Use this form to manage isbn records in your database.</:subtitle>
</.header>

<.isbn_form changeset={@changeset} action={~p"/isbns"} />

<.back navigate={~p"/isbns"}>Back to isbns</.back>
