<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:book_id]} type="number" label="Book" />
  <.input field={f[:tag_id]} type="number" label="Tag" />
  <:actions>
    <.button>Save Book tag</.button>
  </:actions>
</.simple_form>
