<.header>
  New Book tag
  <:subtitle>Use this form to manage book_tag records in your database.</:subtitle>
</.header>

<.book_tag_form changeset={@changeset} action={~p"/book_tags"} />

<.back navigate={~p"/book_tags"}>Back to book_tags</.back>
